# Python
__pycache__/
*.py[cod]
*.so
.Python
.pytest_cache
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# 上传文件
backend/uploads/*/*.*
!backend/uploads/.gitkeep

# 日志文件
*.log
log

# 系统文件
.DS_Store
Thumbs.db