# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Database
*.db
*.sqlite
dbs/

# Log files
*.log
logs/

# Uploads and temporary files
uploads/
tmp/

# Environment files
.env
.venv

# IDE specific files
.vscode/
.idea/
.DS_Store

chroma_langchain_db